html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .top {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -1px;
}

body .top h1 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bold;
}

body .bottom {
  height: 35.3vh;
  width: 100%;
  background-color: #511f73;
  position: relative;
  overflow: hidden;
  margin: -1px;
}

body .bottom .custom-shape-divider-top-1621369968 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  text-align: center;
  margin: -1px;
}

body .bottom .custom-shape-divider-top-1621369968 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

body .bottom .custom-shape-divider-top-1621369968 form input {
  font-size: 2rem;
  width: 450px;
  padding: 0.5rem;
  border: none;
}

body .bottom .custom-shape-divider-top-1621369968 form input:focus {
  outline: none;
  font-family: inherit;
}

body .bottom .custom-shape-divider-top-1621369968 form button {
  font-size: 2rem;
  border: none;
  background-color: white;
  margin-right: 25px;
}

body .bottom .custom-shape-divider-top-1621369968 form button:hover {
  cursor: pointer;
}

body .bottom .custom-shape-divider-top-1621369968 form .select {
  position: relative;
  overflow: hidden;
}

body .bottom .custom-shape-divider-top-1621369968 form .select select {
  width: 12rem;
  font-size: 1.2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-family: inherit;
}

body .bottom .custom-shape-divider-top-1621369968 form .select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10%;
  pointer-events: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

body .bottom .custom-shape-divider-top-1621369968 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 240px;
}

body .bottom .custom-shape-divider-top-1621369968 .shape-fill {
  fill: #FFFFFF;
}

body .note-section {
  height: 45vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#511f73), to(#8b79d9));
  background-image: linear-gradient(#511f73, #8b79d9);
}

body .note-section .note-container {
  width: 35%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

body .note-section .note-container .note {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 50px;
  margin: 2.5% auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: transform 450ms ease, opacity 450ms ease;
  transition: transform 450ms ease, opacity 450ms ease, -webkit-transform 450ms ease;
}

body .note-section .note-container .note .text-strike {
  position: relative;
}

body .note-section .note-container .note .text-strike::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  height: 3px;
  background: black;
  -webkit-animation: text-strike 500ms ease-in-out forwards;
          animation: text-strike 500ms ease-in-out forwards;
}

@-webkit-keyframes text-strike {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes text-strike {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

body .note-section .note-container .note p {
  text-align: center;
  width: 70%;
  font-size: 1.2em;
  margin: 0 15%;
}

body .note-section .note-container .note .symbols {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .note-section .note-container .note .symbols .tick {
  width: 20px;
  height: 100%;
  margin: 0 5%;
}

body .note-section .note-container .note .symbols .cross {
  width: 15px;
  height: 100%;
  margin: 0 25%;
}

body .note-section .note-container .note .symbols .tick, body .note-section .note-container .note .symbols .cross {
  cursor: pointer;
}

body .note-section .note-container .note::before {
  -webkit-animation-name: text-strike;
          animation-name: text-strike;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .note-section .note-container .white-out {
  background-color: rgba(255, 255, 255, 0.5);
}

body .note-section .note-container .remove {
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */